body {
  font-family: Arial;
  text-align: center;
}

.mensaje {
  margin: 50px auto;
  padding: 20px;
  width: 200px;
  background: lightblue;
  border-radius: 10px;
}

/* Tablet */
@media (max-width: 700px) {
  .mensaje {
    background: lightgreen;
  }

  .mensaje::after {
    content: " (Tablet 📱)";
  }
}

/* Móvil */
@media (max-width: 400px) {
  .mensaje {
    background: lightcoral;
  }

  .mensaje::after {
    content: " (Móvil 📲)";
  }
}