body {
    font-family: Verdana, sans-serif;
    padding: 20px;
    background: #eef1ff;
}

.vw-section {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.titular-vw {
    font-size: clamp(1.5rem, 5vw, 4rem);
    color: #4a47a3;
}

p {
    font-size: 1rem;
}