body {
    font-family: Arial;
}

.Grid{
    display: grid;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 10px;

}
header{
    grid-area: header;
    background-color: lightgreen;
    color:black;
    text-align: center;
}
main {
    grid-area: main;
    background-color: lightblue;
    padding: 15px;
}
aside {
    grid-area: aside;
    background-color: lightcoral;
    padding: 15px;
}
footer {
    grid-area: footer;
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}
@media (max-width: 550px) {
    .Grid {
        grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
        grid-template-columns: 150px 1fr;
    }
}