.resaltado { background: rgb(128, 128, 48); }

.activo { color: rgb(166, 90, 90); background: #0077cc; }

.negrita { font-weight: bold; }

.destacado { border: 1px solid orange; }

.tareas li { margin-bottom: 5px; }

