body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;

  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";

  grid-template-columns: 1fr 3fr;
  gap: 1rem; 

  padding: 1rem;
}


.header {
  grid-area: header;

 
  background: linear-gradient(to right, blue, purple);

  color: white;
  padding: 2rem; 
}


.sidebar {
  grid-area: sidebar;

  background: #eee;
  padding: 3rem; 
}

.content {
  grid-area: content;

  background: white;
  padding: 2rem;

  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.footer {
  grid-area: footer;

  background: linear-gradient(to right, black, gray);
  color: white;

  padding: 4rem;
}

img {
  width: 100%;

  
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  margin-top: 1rem;
  max-width: 70%; 
}

video {
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  max-width: 70%; 
}

h1 {
  font-size: calc(1rem + 2vw);
}

.header {
  font-size: 2vw; 
}